html {
  background-color: #202020;
  background-image: linear-gradient(to bottom right, #303030, #000000);
  font-family: "Work sans", sans-serif;
}

.job,
.button {
  font-family: "Lato", "Work sans", sans-serif;
}

.job {
  color: #cbffdc;
}

.hr {
  background-color: #d8f3dc;
}

.button {
  background-color: #1b4332;
  color: #ffffff;
}

.social a {
  color: #cbffdc;
}

.social a:hover {
  color: #fff;
}
